$mobileWidth: 375px;
$desktopWidth: 700px;
$biggerWidth: 1441px;

$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

$fontBlue: #47a19f;
$fontGreen: #bfdf32;
$fontLightBlue: #80dfe3;
$fontGrayish: #aaadb2;